#btn-adicionar-fotinho {
    display: block;
    margin: 0 auto .6rem;
}

#fotinhos-fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 1rem auto;

    border: none;

    border-bottom: 1px solid black;
}