/**
 * Arquivo global de estilos, com estilos base para todos os elementos do site.
 * 
 * Algumas páginas sobrescrevem esses estilos
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fonte */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Debug */
    /* border: 1px solid red; */
}

body {
    padding: .5ch;
}

h1 {
    margin: 1rem;
}

h2 {
    text-align: center;
    margin: .8rem;
    font-size: 30px;
}

h4 {
    text-align: center;

    margin: 0 0 .6rem;
}

p.subtitulo {
    text-align: center;
    margin: -1rem 0 1rem;
}

header {
    margin: 1rem;

    & nav {
        display: flex;
        justify-content: space-around;
    }

    & a {
        padding: .5rem;

        border: 2px solid black;
        border-radius: .5rem;

        text-decoration: none;

        transition: transform .2s ease, box-shadow .2s ease;

        &:visited {
            color: unset;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: 1px 2px 2px black;
        }
    }
}

form {
    width: 50%;

    padding: 1ch;
    margin: auto;

    border: 1px solid black;
    border-radius: 10px;

    box-shadow: 2px 3px 3px black;

    transition: height 1s ease;
}

input[type="text"],
input[type="password"],
textarea {
    border: 1px solid black;
    border-radius: 8px;

    padding: .2rem;
}

button {
    display: block;
    margin: auto;

    padding: .8ch;

    font-weight: bold;

    color: white;
    background-color: rgb(124, 35, 134);

    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);

    &:hover {
        cursor: pointer;
        color: rgb(252, 252, 66);
    }

    &:active {
        background-color: rgb(79, 26, 83);
    }
}

form textarea {
    min-height: calc(.5ch + 2lh);
    height: calc(.5ch + 4lh);
    resize: vertical;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;

    & th {
        font-weight: bolder;

        border: 2px solid black;

        color: white;
        background-color: rgb(124, 35, 134);
    }

    & td {
        border: dotted black;
        border-width: 0 0 2px 0;
    }

    & td,
    th {
        text-align: center;
        vertical-align: middle;
        padding: .5rem 1rem;
    }

    & tbody tr {
        transition: transform .1s ease;

        &:hover {
            background-color: rgb(247, 199, 247);
            position: relative;
            transform: scale(1.01);

            outline: 1px solid black;
        }
    }
}

.conjunto-fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1ch;

    padding: .5ch;

    width: 100%;
    margin: 0 auto .5rem;
    padding-bottom: 1rem;

    border: none;
    border-bottom: 2px rgb(124, 124, 124) dashed;

    &:last-of-type {
        border-bottom: none;
    }

    & label {
        text-align: right;
        max-width: 30%;
    }

    &> :is(input, textarea) {
        display: block;

        flex-grow: 1;
    }
}

.redirect-mensagem {
    position: fixed;

    left: 50%;
    bottom: 15px;
    margin: auto;

    transform: translateX(-50%);

    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;

    background-color: purple;
    color: white;

    overflow: hidden;

    box-shadow: 1px 2px 2px black;

    transform-origin: center;
    animation:
        redirect-popup .5s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955),
        vanish 2s 5s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &::before {
        content: '!';
        font-weight: bolder;
        display: inline-block;

        width: 2ch;
        height: 2ch;
        margin: 0 .5ch 0 0;

        border: 1px solid black;
        border-radius: 50%;

        color: black;
        background-color: yellow;
    }

    &:hover {
        background-color: blueviolet;
    }
}


/*=============================================
=                   Animações                 =
=============================================*/

@keyframes redirect-popup {
    0% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}